*{
    user-select: none;
}
body{
    background-color: #001d40;
    user-select: none;
}
.basetext{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    background-color: #002959;
    padding:20px;
    border-radius: 16px;
    margin-bottom:10px;
}
.innercontainer{
    background-color: #003573;
    padding:20px;
    border-radius: 16px;
    transition: all 0.5s ease-in-out;
}
.red{
    background-color:#ff3636;
}
.reddim{
    background-color:#a12222;
}
.blue{
    background-color:#3679ff;
}
.bluedim{
    background-color:#2450a6;
}
.success{
    background-color:#1fcc87;
}
.successdim{
    background-color:#199e69;
}
.gray{

}

.basebutton{
    background-color: #003573;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 16px;
    transition: all 0.5s ease-in-out;
}

@keyframes spinnn {
    
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spinnn2 {
    
    0% {
        transform: translateX(-50%) rotate(0deg);
    }
    100% {
        transform: translateX(-50%) rotate(360deg);
    }
}

.circlebutton{
    border-radius: 50%;
    padding:10px;
}

.circlebuttonselected2{
    animation-name: spinnn;
    animation-duration: .4s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    transition: 0.2s;
}

.circlebuttonselected{
    animation-name: spinnn;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    transition: 0.2s;
}

.textbox{
    border: none;
    border-bottom: 2px solid white;
    background-color: #003573;
    border-radius: 8px;
    padding:10px;
    font-size: 24px;
    text-align: center;
    
}

.checklistselected{
    animation-name: checklistselect;
    animation-duration: .3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    transition: 0.2s;
}

.notificationbox{
    position: absolute;
    bottom: -200px;
    transition: all 0.5s ease-in-out;
    width: 90vw;
    left: 50%;
    transform: translateX(-50%);
}
@keyframes backgrounda {
    0%{
        background-color:#001d40;
    }
    50%{
        background-color:#002959;
    }
    100%{
        background-color:#001d40;
    }
    
}
.backgroundanim{
    background-color:#001d40;
    animation-name: backgrounda;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    
    transition: 0.2s;
}

.turnbounceanim{
    animation-name: turnbounce;
    animation-duration: .6s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    transition: 0.2s;
}



@keyframes turnbounce {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(10deg);
    }
    40% {
        transform: rotate(-10deg);
    }
    60% {
        transform: rotate(10deg);
    }
    80% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
    
}

.constantturnanim{
    animation-name: constantturn;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    transition: 0.2s;
}

@keyframes constantturn {
    25%{
        transform: rotate(7deg);
    }
    75%{
        transform: rotate(-7deg);
    }
}

@keyframes notification {

    25%{
        transform: translateX(-50%) rotate(3deg);
    }
    75%{
        transform: translateX(-50%) rotate(-3deg);
    }
    
}

@keyframes checklistselect {
    0%{
        transform: rotate(0deg) translateY(0px);
    }
    50%{
        transform: rotate(-5deg) translateY(-20px);
    }
    100%{
        transform: rotate(0deg) translateY(0px);
    }
}
.notificationanim{
    animation-name: notification;
    animation-timing-function: ease;
    animation-duration: .5s;
    animation-iteration-count: infinite;
}

